flow.json
[{"id":"22a57b8c.fb20a4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5f8354d9.51b7bc","type":"function","z":"22a57b8c.fb20a4","name":"PreToken","func":"global.set(\"cmt\",msg.payload.cmt)\nglobal.set(\"bfs\",msg.payload.bfd)\nglobal.set(\"fah\",msg.payload.fah)\nglobal.set(\"wtr\",msg.payload.wtr)\nglobal.set(\"sup\",msg.payload.sup)\nglobal.set(\"coa\",msg.payload.coa)\nglobal.set(\"fag\",msg.payload.fag)\nglobal.set(\"age\",msg.payload.age)\nvar apikey=\"KcWmUrN94kpR_u3O0_MstPeRDx3G9JplZpZ68FCHMPe6\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":540,"wires":[["9a31027b.46a66"]]},{"id":"9a31027b.46a66","type":"http request","z":"22a57b8c.fb20a4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":460,"wires":[["4f62873.61b8b78","2ec13b7c.4120a4"]]},{"id":"8cee50f8.8f511","type":"debug","z":"22a57b8c.fb20a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":40,"wires":[]},{"id":"4f62873.61b8b78","type":"function","z":"22a57b8c.fb20a4","name":"Pre Prediction","func":"var cmt = global.get('cmt')\nvar bfs = global.get('bfs')\nvar fah = global.get('fah')\nvar wtr = global.get('wtr')\nvar sup = global.get('sup')\nvar coa = global.get('coa')\nvar fag = global.get('fag')\nvar age = global.get('age')\nvar token=msg.payload.access_token\nvar instance_id=\"4837f3f5-ade3-44b2-b9e1-ff714ac42697\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Cement (component 1)(kg in a m^3 mixture)\", \"Blast Furnace Slag (component 2)(kg in a m^3 mixture)\", \"Fly Ash (component 3)(kg in a m^3 mixture)\", \"Water  (component 4)(kg in a m^3 mixture)\", \"Superplasticizer (component 5)(kg in a m^3 mixture)\", \"Coarse Aggregate  (component 6)(kg in a m^3 mixture)\", \"Fine Aggregate (component 7)(kg in a m^3 mixture)\", \"Age (day)\"],\"values\": [[cmt,bfs,fah,wtr,sup,coa,fag,age]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":380,"wires":[["a4f0656c.3b5a48"]]},{"id":"a4f0656c.3b5a48","type":"http request","z":"22a57b8c.fb20a4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/785859d9-2e3d-413e-89d9-dee4cfd4ef25/predictions","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":220,"wires":[["bc378b8d.a384e8","8cee50f8.8f511"]]},{"id":"c48af59.911c208","type":"ui_form","z":"22a57b8c.fb20a4","name":"","label":"","group":"cb19be24.12bc4","order":1,"width":0,"height":0,"options":[{"label":"Cement","value":"cmt","type":"number","required":true,"rows":null},{"label":"Blast Furnace Slag","value":"bfs","type":"number","required":true,"rows":null},{"label":"Fly Ash","value":"fah","type":"number","required":true,"rows":null},{"label":"Water","value":"wtr","type":"number","required":true,"rows":null},{"label":"Superplasticizer","value":"sup","type":"number","required":true,"rows":null},{"label":"Coarse Aggregate ","value":"coa","type":"number","required":true,"rows":null},{"label":"Fine Aggregate ","value":"fag","type":"number","required":true,"rows":null},{"label":"Age (day)","value":"age","type":"number","required":true,"rows":null}],"formValue":{"cmt":"","bfs":"","fah":"","wtr":"","sup":"","coa":"","fag":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":620,"wires":[["5f8354d9.51b7bc"]]},{"id":"76d0c7bd.59e2d8","type":"ui_text","z":"22a57b8c.fb20a4","group":"cb19be24.12bc4","order":2,"width":0,"height":0,"name":"","label":"Compressive Strength","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":380,"wires":[]},{"id":"bc378b8d.a384e8","type":"function","z":"22a57b8c.fb20a4","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":220,"wires":[["8cee50f8.8f511","76d0c7bd.59e2d8"]]},{"id":"2ec13b7c.4120a4","type":"debug","z":"22a57b8c.fb20a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":460,"wires":[]},{"id":"cb19be24.12bc4","type":"ui_group","z":"","name":"Compressive Strength of Concrete","tab":"f8c26ea6.419b3","order":1,"disp":true,"width":"6","collapse":false},{"id":"f8c26ea6.419b3","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]